{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3 justify-content-center">
      <li class="nav-item"><a class="nav-link active" href="{{path('app_user_logout')}}"><i class="bx bx-user me-1"></i> Log out</a></li>
     </ul>
    <div class="card mb-4">
      <h5 class="card-header">Profile Details</h5>
      <!-- Account -->
  
      <hr class="my-0">
      <div class="card-body">
        
     
         {{ include('user/_form.html.twig') }}
      </div>
      <!-- /Account -->
    </div>
    <div class="card">
      <h5 class="card-header">Delete Account</h5>
      <a href="{{path('app_user_deleteAccount')}}">
      <button type="submit" class="btn btn-danger deactivate-account">Delete Account</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}