{% extends 'templateFront.html.twig' %}

{% block title %}Edit Propositionlivre{% endblock %}

{% block body %}
    <h1>Edit Propositionlivre</h1>

    {{ include('propositionlivre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('show_my_propositions') }}">back to list</a>

    {{ include('propositionlivre/_delete_form.html.twig') }}
{% endblock %}
