{% extends 'templateFront.html.twig' %}

{% block title %}New Propositionlivre{% endblock %}

{% block body %}
    <h1>Create new Propositionlivre</h1>

    {{ include('propositionlivre/_form.html.twig') }}

    <a href="{{ path('show_my_propositions') }}">back to list</a>
{% endblock %}
