<form method="post" action="{{ path('app_cloture_achat_delete', {'idCloture': cloture_achat.idCloture}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cloture_achat.idCloture) }}">
    <button class="btn">Delete</button>
</form>
